# Wordpress - Plugins

# Log files
*.log

# htaccess
/.htaccess

# OS system file
.DS_Store
Thumbs.db

# VS code
.vscode/
.idea/

# node and composer
/node_modules/
vendor
package-lock.json

# Optional npm cache directory
*.npm

# dotenv environment variables file
.env

paidy-wc.zip
i18n/paidy-wc.pot
*.tmp
*.zip
