# Wordpress - Plugins

# Log files
*.log

# htaccess
/.htaccess

# OS system file
.DS_Store
Thumbs.db

# VS code
.vscode/
.idea/

# node and composer
/node_modules/
vendor

paidy-wc.zip
i18n/paidy-wc.pot
*.env
*.tmp
*.zip
