/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.11.0_webpack@5.99.9/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.5.4_webpack@5.99.9/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/.pnpm/sass-loader@16.0.5_sass@1.89.1_webpack@5.99.9/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/wizard/index.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
div#adminmenuwrap, div#adminmenuback {
  display: none;
}

#wpcontent {
  margin-left: 0;
}
#wpcontent .woocommerce-layout__header {
  width: 100%;
}

.wrap .woocommerce-layout__main {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.wrap .woocommerce-layout__main .paidy-on-boarding {
  display: flex;
  flex-wrap: wrap;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-on-boarding__img {
  width: 50%;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-on-boarding__img img {
  width: 100%;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-on-boarding__content {
  width: 50%;
  margin: auto;
}
.wrap .woocommerce-layout__main .paidy-on-boarding ol li {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: left;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-heading {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}
.wrap .woocommerce-layout__main .paidy-on-boarding div.paidy-save {
  width: 100%;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-basic-info {
  width: 80%;
  margin: 0 10% 20px;
  text-align: left;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-basic-info label, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-basic-info legend {
  font-size: 1.2em;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-basic-info fieldset.components-radio-control {
  margin-bottom: 10px;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-security-survey {
  width: 80%;
  margin: 0 10% 20px;
  text-align: left;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-security-survey label {
  font-size: 1.2em;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-security-survey ul {
  list-style: disc;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-security-survey ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 30px;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-security-survey .components-radio-control__group-wrapper {
  display: flex;
  flex-direction: row;
  font-size: small;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 15px;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-security-survey .components-radio-control__option {
  display: flex;
  align-items: left;
  gap: 5px;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-security-survey legend.components-base-control__label {
  font-size: 1.2em;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-agreement-text {
  text-align: left;
  font-size: 1.2em;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-completed-message, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-rejected-message, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-approved-message, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-setting-sandbox-message, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-setting-completed-message {
  margin: 20px auto;
  font-size: 1.2em;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-completed-message h3, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-rejected-message h3, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-approved-message h3, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-setting-sandbox-message h3, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-setting-completed-message h3 {
  color: #E5258C;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-completed-message ul.paidy-approved-list, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-rejected-message ul.paidy-approved-list, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-approved-message ul.paidy-approved-list, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-setting-sandbox-message ul.paidy-approved-list, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-setting-completed-message ul.paidy-approved-list {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-completed-message .paidy-enabled-button button.test-button, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-rejected-message .paidy-enabled-button button.test-button, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-approved-message .paidy-enabled-button button.test-button, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-setting-sandbox-message .paidy-enabled-button button.test-button, .wrap .woocommerce-layout__main .paidy-on-boarding .paidy-setting-completed-message .paidy-enabled-button button.test-button {
  margin-bottom: 20px;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-on-boarding_bottom {
  text-align: left;
}
.wrap .woocommerce-layout__main .paidy-on-boarding .paidy-approved-message .paidy-enabled-button button.test-button {
  margin-bottom: 15px;
}
.wrap .woocommerce-layout__main .paidy-on-boarding__description {
  text-align: left;
}
.wrap .woocommerce-layout__main .paidy-on-boarding__description p {
  font-size: 16px;
}
.wrap .woocommerce-layout__main .paidy-on-boarding__description a {
  margin-left: 5px;
}
.wrap .woocommerce-layout__main button.paidy-button {
  font-size: 2em;
  padding: 30px;
  background: linear-gradient(90deg, #E5258C 0%, #863BD4 96.36%);
  border-radius: 28px;
}
.wrap .woocommerce-layout__main .footer {
  position: fixed;
  padding: 8px;
  bottom: 0;
  background-color: #f0f0f1;
}

/*# sourceMappingURL=paidy.css.map*/