#paidy-admin-settings{
    text-align: center;
    width: 100%;
    h2{
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 10px;
        color: #E5258C;
    }
  .paidy-on-boarding{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    .paidy-on-boarding__img{
      width: 50%;
      img{
        width: 100%;
      }
    }
    .paidy-on-boarding__content{
        width: 50%;
        p{
          font-size: 1.5em;
          margin-bottom: 20px;
        }
    }
}
    button.paidy-button{
        color: #ffffff;
        font-size:2em;
        padding: 30px;
        background: linear-gradient(90deg, #E5258C 0%, #863BD4 96.36%);
        border-radius: 28px;
    }
}
#paidy-payment-settings{
    display: none;
}
.wrap.woocommerce{
  background-color: #f0f0f1;
}